# ignore results
/results/
# ignore auto-downloaded reference
/data/

# ignore logs and macOS metadata
*.log
*.DS_Store

# Ignore bamUtil and libStatGen folders
bamUtil/
libStatGen/

# Ignore all legacy run_pipeline scripts
scripts/run_pipeline*.sh
scripts/plain_pipe_slurm.sh
scripts/run_slurm_all_samples.sh
scripts/submit_jobs.sh

config/pipeline copia.yaml

.Rhistory
